<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="DTO.Properties.Settings.QL_QUANCAPHEConnectionString"
            connectionString="Data Source=DESKTOP-SOF5J9B\SQLEXPRESS;Initial Catalog=QL_QUANCAPHE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>